@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: url("./images/hero-img.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.cat-bg-grad {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

html {
  scroll-behavior: smooth;
}
.horScroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #e1e1e1;
}

.horScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

.horScroll::-webkit-scrollbar-thumb {
  background: #0700007c;
  border-radius: 10px;
}

.horScroll::-webkit-scrollbar-thumb:hover {
  background: #a5a7a8;
}
.overflow {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.overflow::-webkit-scrollbar {
  display: none;
}
.category {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  padding: 4rem;
}
.hider {
  transform: scale(0);
}
.gridLayout {
  grid-template-columns: 230px 100px 350px 120px 80px 100px;
}
.gridLay2 {
  grid-template-columns: repeat(8, 1fr);
}
@media (max-width: 768px) {
  .category {
    padding: 2rem 1rem;
  }
}
